/*
https://pecopla.net/web-column/table-design
https://fixel.co.jp/blog/select-design-customize/
*/

/* -----------------------------------------
  定数
----------------------------------------- */
:root {
  --color-main: #0099ce;
  --color-main-pale: #cce4ff;
  --color-white: #fcfcfc;
  --color-gray: #808080;
  --color-black: #222;
  --color-toc: #f4f4f4;
}

/* -----------------------------------------
  全体
----------------------------------------- */
body {
  font-family: "Yu Gothic Medium", "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

main {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 844px;
  background-color: var(--color-white);
}

@media print {
  body,
  main {
    background-color: transparent;
  }
}

#content {
  margin: 0 30px;
  padding: 30px 0;
}

@media (max-width: 600px) {
  #content {
    margin: 0 10px;
    padding: 10px 0;
  }
}

/* -----------------------------------------
  見出し
----------------------------------------- */
h1 {
  padding: .75rem 1rem;
  margin: 0 0 1.5rem 0;
  border-bottom: solid 3px var(--color-black);
}

/* -----------------------------------------
  リスト
----------------------------------------- */
li {
  margin-bottom: 1rem;
}

/* -----------------------------------------
  目次
----------------------------------------- */
#toc {
  background-image: linear-gradient(
    -45deg, 
    #fff 25%, 
    var(--color-toc) 25%, 
    var(--color-toc) 50%, 
    #fff 50%, 
    #fff 75%, 
    var(--color-toc) 75%, 
    var(--color-toc)
  );
  background-size: 4px 4px;
  border-bottom: 4px double rgba(199, 199, 199, 0.5);
  border-top: 4px double rgba(199, 199, 199, 0.5);
  width: 80%;
  margin: 4rem auto;
  padding: 1.5em 0;
}

@media print {
  #toc {
    background-image: none;
  }
}

#toc-title {
  text-align: center; /* 目次の中央揃え */
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.2em;
}

#toc-title::before {
  font-family: FontAwesome;
  content: "\f0ca";
  margin-right: .5rem;
}

#toc-content {
  width: 80%;
  margin: 0 auto;
  line-height: 1.8rem;
  padding-inline-start: 30px;
}

#toc-content li {
  padding-left: 1rem;
  margin-bottom: 0;
}

#toc-content li a {
  text-decoration: none;
  color: var(--color-black);
}

#toc-content li ol{
  padding-inline-start: .5em;
}

/* -----------------------------------------
  json-table
----------------------------------------- */
#json-table {
  margin: 0 auto;
  table-layout: auto;
  border-collapse: collapse;
}

#json-table th {
  background: #3e96d2;
  color: #fff;
  padding: 10px;
}

#json-table td {
  padding: 10px;
  min-height: 46px;
  min-width: 5rem;
}

#json-table td:first-child {
  background: #fbf5f5;
}

#json-table td.word {
  font-size: 2rem;
}

@media screen and (max-width: 640px) {
  #table-container {
    margin: 0;
  }
  
  #json-table {
    width: 100%;
  }

  #json-table tr:has(th) {
    display: none;
  }

  #json-table td {
    display: block;
    text-align: left;
    font-size: 1rem;
    position: relative;
    padding-left: 5rem; /* 左側に余白を追加 */
    box-sizing: border-box; /* パディングを含むボックスサイズを設定 */
    min-width: 0;
  }

  #json-table td:first-child {
    background: #3e96d2;
    color: #fff;
    font-weight: bold;
  }

  #json-table td:before {
    content: attr(data-label);
    font-size: 1rem;
    font-weight: bold;
    float: left;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  #json-table td.word {
    text-align: center;
    font-size: 2rem;
  }

  #json-table td.kana {
    text-align: center;
  }

  #json-table td.meaning
  #json-table td.sentence {
    text-align: left;
  }
}

/* -----------------------------------------
  他
----------------------------------------- */
#table-container {
  margin: 20px auto;
  max-width: 1000px;
}

select {
  font-size: 1.2rem;
  padding: .5rem 0;
  margin: .5rem 0;
}
