/*
https://pecopla.net/web-column/table-design
https://fixel.co.jp/blog/select-design-customize/
*/

body {
  font-family: "Yu Gothic Medium", "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

#table-container {
  margin: 20px;
}

select {
  font-size: 1.2rem;
  padding: .5rem 0;
  margin: .5rem 0;
}

th {
  background: #3e96d2;
  color: #fff;
  padding: 10px;
}

td {
  padding: 10px;
  min-height: 46px;
}

#json-table {
  margin: 0 auto;
  table-layout: auto;
  border-collapse: collapse;
}

#json-table td:first-child {
  background: #fbf5f5;
}

@media screen and (max-width: 640px) {
  #table-container {
    margin: 0;
  }
  
  #json-table {
    width: 100%;
  }

  #json-table tr:has(th) {
    display: none;
  }

  #json-table td {
    display: block;
    text-align: left;
    font-size: 1rem;
    position: relative;
    padding-left: 5rem; /* 左側に余白を追加 */
    box-sizing: border-box; /* パディングを含むボックスサイズを設定 */
  }

  #json-table td:first-child {
    background: #3e96d2;
    color: #fff;
    font-weight: bold;
  }

  #json-table td:before {
    content: attr(data-label);
    font-size: 1rem;
    font-weight: bold;
    float: left;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  #json-table td.word {
    text-align: center;
    font-size: 2rem;
  }

  #json-table td.kana {
    text-align: center;
  }

  #json-table td.meaning
  #json-table td.sentence {
    text-align: left;
  }
}
