<footer>
    <div class="footer-content">
        <nav class="nav-content">
            <ul class="nav-list">
                <li><a href="https://mimneko.github.io/note/">ホーム</a></li>
                <li><a href="https://mimneko.github.io/note/about/">このサイトについて</a></li>
                <li><a href="https://mimneko.github.io/note/tags/">カテゴリ＆タグ</a></li>
            </ul>
        </nav>
        <p class="copyright">Copyright © 2023 - 2024 みむねこのーと.<br class="copyright-break"> All rights reserved.</p>
    </div>
</footer>
