
/* https://b-risk.jp/blog/2018/07/table-css/ */
/* https://qiita.com/unotovive/items/59f4f3d2379af5bcef5a */

body {
  font-family: "Yu Gothic Medium", Meiryo, sans-serif;
}
/*
body {
  font-family: "Yu Gothic Medium", "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
*/
p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 60px auto 40px;
}

th {
  background: #3e96d2;
  color: #fff;
  padding: 10px;
}

td {
  padding: 10px;
}

table {
  margin: 0 auto;
  table-layout: auto;
  border-collapse: collapse;
}

#json-table td:first-child {
  background: #fbf5f5;
}

@media screen and (max-width: 640px) {
  #json-table {
    width: 100%;
  }

  #json-table .thead {
    display: none;
  }

  #json-table td {
    display: block;
    text-align: left;
    font-size: 1rem;
    position: relative;
    padding-left: 5rem; /* 左側に余白を追加 */
    box-sizing: border-box; /* パディングを含むボックスサイズを設定 */
  }

  #json-table td:first-child {
    background: #3e96d2;
    color: #fff;
    font-weight: bold;
  }

  #json-table td:before {
    content: attr(data-label);
    font-size: 1rem;
    font-weight: bold;
    float: left;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  #json-table td.word {
    text-align: center;
    font-size: 2rem;
  }

  #json-table td.kana {
    text-align: center;
  }

  #json-table td.meaning
  #json-table td.sentence {
    text-align: left;
  }
}

/* ヒラギノ角ゴシックの定義 */
@font-face {
  font-family: 'Hiragino Kaku Gothic';
  src: local('Hiragino Kaku Gothic ProN'), local('ヒラギノ角ゴ ProN W3');
  font-weight: normal;
  font-style: normal;
}

.fallback-svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.special-character {
  font-family: 'Hiragino Kaku Gothic', sans-serif;
}

.special-character[data-replace="2b4bc"]::before {
  content: '';
  background-image: url('u2b4bc.svg');
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
