
/* https://b-risk.jp/blog/2018/07/table-css/ */

body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 60px auto 40px;
}
th {
  background: #3e96d2;
  color: #fff;
  padding: 10px;
}
td {
  padding: 10px;
}
/*
#table-container {
  overflow-x: hidden;
  max-width: calc(100vw - 17px);
}
*/

table {
  margin: 0 auto;
  table-layout: auto;
  border-collapse: collapse;
}

.tbl-r05 td:first-child {
  background: #fbf5f5;
}
@media screen and (max-width: 640px) {
  .tbl-r05 {
    width: 100%;
  }
  .tbl-r05 .thead {
    display: none;
  }
  .tbl-r05 td {
    display: block;
    text-align: right;
    font-size: 1rem;
    position: relative;
    padding-left: 5rem; /* 左側に余白を追加 */
    box-sizing: border-box; /* パディングを含むボックスサイズを設定 */
  }
  .tbl-r05 td:first-child {
    background: #3e96d2;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  .tbl-r05 td:before {
    content: attr(data-label);
    font-size: 1rem;
    font-weight: bold;
    float: left;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .tbl-r05 td.word {
    text-align: center;
    font-size: 2rem;
  }
  .tbl-r05 td.meaning {
    text-align: left;
  }
}
